.auth{
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    grid-gap: 2em;
    /*padding-left: 120px;*/
    padding-right: 120px;
}
.auth_form h1{
    margin-top: 0;
    text-transform: uppercase;
    color: #343434;
    font-size: 45px;
}
.auth_form{
    display: block;
    margin: 15px auto;
}
.auth_form .input_block{
    margin-top: 40px;
}
.auth_form input{
    background-color: #EBECED;
    padding: 5px 0px 5px 10px;
    border: 0;
    height: 40px;
    width: 300px;
}

.auth_btn{
    background-color: #343434;
    color: #FAFAFA;
    padding: 15px 10px 15px 10px;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
}
.view  .title{
    margin-top: 30px;
    margin-bottom: 50px;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
li{
    list-style: none;
}

/*TABLE */
.table_standard{
    margin-bottom: 20px;
}
.table_standard .thead{
    background-color: #F5F7FA;
    font-weight: 600;
    color: #343434;
    font-size: 14px;
}
.table_standard .tbody{
    font-size: 14px;
    font-weight: 400;
}
.table_standard .tbody .tr:nth-child(odd){
    background-color: #EDF0F2;
}
.table_standard .tbody .tr:nth-child(even){
    background-color: #F5F7FA;
}
.table_standard .tr{
    display: grid;
    padding: 15px;
}

.table_standard .tbody .menu{
    position: relative;
    width: 14px;
    background-image: url("@/assets/icons/table-menu.svg");
    background-size: 23px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.table_standard .tbody .menu ul{
    width: max-content;
    position: absolute;
    top: -10px;
    right: 5px;
    z-index: 3;
    /*background-color: #EBECED;*/
    padding: 0;
    display: none;
    animation-duration: .3s;
    animation-name: table-menu;
    overflow: hidden;
}

.table_standard .tbody .menu:hover > ul{
    display: block;
}
.table_standard .tbody .menu ul li{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #EBECED;
}
.table_standard .tbody .menu ul li:last-child{
    margin-bottom: 0;
}
.table_standard .tbody .menu ul li a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    grid-gap: 10px;
}
/*TABLE END *******/


/*INPUT STANDARD/*/
.form_standard{
    display: grid;
    grid-template-columns: 1fr;
    height: max-content;
}
.form_standard label{
    margin-bottom: 5px;
    color: #343434;
    font-weight: 600;
    font-size: 14px;
}
.form_standard input{
    background-color: #F5F7FA;
    border: 0;
    padding: 10px;
    font-size: 15px;
    width: 240px;
}
/*INPUT STANDARD END *********/
/*BUTTON STANDARD*/
.btn_standard{
    background-color: #374C98;
    color: #fff;
    cursor: pointer;
    padding: 10px 53px;
    border: 0;
    width: max-content;
}

/*BUTTON STANDARD END ********/
/*CHECKBOX STANDARD*/
.check_box_block{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    background-color: #F5F7FA;
    align-items: center;
    justify-content: center;
}
.check_box_block input{
    width: 60px;
}
.check_box_block label{
    font-weight: initial;
    width: 100px;
    padding: 10px;
    margin-bottom: 0;
}
.check_box_block > *{
    cursor: pointer;
}

.white_btn{
    background-color: #dde1e8;
    color: #343434;
    margin-top: 30px;
    width: max-content;
    margin-right: 5px;
}
.btn_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
}
.btn_icon > svg{
    color: #374C98;
}

/*CHECKBOX END *****/
.vuejs3-datepicker{
    position: relative;
    width: 200px;
    height:45px;

}
.vuejs3-datepicker__value{
    border: 0 !important;
    background-color: #f3f3f3;
}
#calendar-div{
    position: absolute;
}
.vuejs3-datepicker__calendar{
    top: 100%;
}
.vuejs3-datepicker__calendar-topbar, span.selected{
    background-color: #374c98 !important;
}


/*MINI FORM*/
.mini_create{
    margin-bottom: 20px;
}
.mini_form{
    width: max-content;
    position: relative;
    animation-duration: .8s;
    animation-name: mini-form-show;
}
@keyframes mini-form-show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.close{
    position: absolute;
    right: -5px;
    top: -20px;
    padding: 5px;
    cursor: pointer;
    font-size: 22px;
}
.mini_form > .btn_block{
    margin-top: 40px;
}
.form_standard{
    margin-top: 30px;
}
/*MINI FORM END ***********/

/*OTHER*/
h1.station_title{
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    opacity: .6;
}
/*OTHER END *****/